<!DOCTYPE html>
<html>
  <head>
      <title>Csv</title>
      <meta charset="utf-8" />
      <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="container" onclick="closeCover()"></div>
    <div class="head">
        <form name="uploadFile" class="upload-file">
          <input type="file" id="get-file" name="myFile" onchange="upload(this.files[0])" class="my-file-input">
        </form>

        <button class="new-file" onclick="upload('newfile')">New File</button>
        <button class="new-file" onclick="download()">Save File</button>
        <button class="new-file" onclick="showModal()">Open Files</button>
        <input class="cell-input-form" onkeydown = "writeCell(event.keyCode)">
    </div>  

    <div class="filename">
      <p>File name:</p>
      <input class="inputfilename" onkeydown = "writeFile(event.keyCode)">
    </div>  
    <div class="modal"></div>  

    <div id="table"></div>

    <script type="text/javascript" src="script.js"></script>
</body>
<html>