.cellInput{
	 font-size: 20px;
	 text-align: center;
}
.row{
  display: flex;
  justify-content: center;
}

.cell{
  width: 100px;
  height: 100px;
  background-color: #def3f5;
  border: 1px solid black; 
}
.cell:hover {
  background-color: #afe9ef;
}

.letterCell{
  width: 100px;
  height: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.letterRow{
  margin-left: 22px;
}

.numberRow{
  border: 1px solid black;
  width: 20px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}