.letterRow{
	 width: 100px;
	 display:inline-block;
	 margin: 10px;
	 text-align: center;
}
.numberRow{
	 display:inline-block;
	 margin: 10px;
	 text-align: center;
}
.cell{
	 display:inline-block;
	 margin: 10px;
	 text-align: center;
}
.cellInput{
	 width: 100px;
	 height: 100px;
	 font-size: 20px;
}